@{
    ViewData["Title"] = "Eğitimler";
}
@model SoftwareRouteGuideAPP.Models.Educations.EducationViewModel

<section class="edc" style="background-image: url('../img/software.jpg')">
    <div class="edc-content">
        <div class="container px-5">
            <h2 class="text-light display-1 lh-1 mb-4">
                Günün en doğru kararı.
                <br />
                Öğrenmeye başlamaktır.
            </h2>
        </div>
    </div>
</section>

@if (Model.educationLast2.Count() > 0)
{
    @foreach (var education in Model.educationLast2)
    {
        <section class="py-5">
            <div class="container px-5">
                <div class="card border-0 shadow rounded-3 overflow-hidden">
                    <div class="card-body p-0">
                        <div class="row gx-0">
                            <div class="col-lg-6 col-xl-5 py-lg-5">
                                <div class="p-4 p-md-5">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">@education.Type</div>
                                    <div class="h2 fw-bolder">@education.Title</div>
                                    <p>@education.Subtitle1</p>
                                    <a class="stretched-link text-decoration-none" href="/Education/EducationDetails/@education.educationID">
                                        Devamını Oku
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('@education.Photo1');"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
 }
 else
 {
    <p class="badge-danger text-center"> Listelenecek başlıca 2 eğitim bulunamamıştır..</p>
 }


<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder fs-5 mb-4">Önerilen Eğitimler</h2>
        <div class="row gx-5">
            @if (Model.educationFirst6.Count() > 0)
            {
                @foreach (var education in Model.educationFirst6)
                {
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="@education.Photo1" style="width: 100%; height: 100%" alt="..." />
                            <div class="card-body p-4">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">@education.Type</div>
                                <a class="text-decoration-none link-dark stretched-link" href="/Education/EducationDetails/@education.educationID"><div class="h5 card-title mb-3" style="width: 100%; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; ">@education.Title</div></a>
                                <p class="card-text mb-0" style="width: 100%; overflow: hidden; display: inline-block; text-overflow: ellipsis; white-space: nowrap; ">@education.Subtitle1</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle me-3" style="height: 40px; width: 40px;" src="~/img/teacherIcon.png" alt="..." />
                                        <div class="small">
                                            <div class="fw-bold">@education.Name @education.Surname</div>
                                            <div class="text-muted">@education.Date.ToString("dd.MM.yyyy") </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }



            }
            else
            {
                <p class="badge-danger"> Listelenecek önerilen eğitimler bulunamamıştır..</p>
            }

        </div>
        <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="/Education/AllEducations">
                Tüm eğitimleri görüntüle
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
<aside class="text-center bg-dark">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xl-8">
                <div class="h2 fs-1 text-light mb-4">"Her seviyeden yazılımcılar için eğitim serisi, hem de tek bir platformda!"</div>
                <img src="../img/srglogo2.png" alt="..." style="height: 3rem" />
            </div>
        </div>
    </div>
</aside> 